@{
    ViewBag.Title = "PlusGunnar";
}



<div class="row">

    <div class="col-md-3 text-center">
        <div class="pg-link1">
            <p>Välkommen!</p>
            <img class="pg-pg-img" src="~/Content/img/architecture-3095716_1920.jpg" alt="PlusGunnar.st" />
        </div>
    </div>

    <div class="col-md-4 text-center">
        <a href="https://grammatiklaxen.azurewebsites.net/" target="_blank" title="Din virtuella grammatik-assistent">
            <div class="pg-link2">
                <img class="pg-gl-img" src="~/Content/img/grammatiklaxenlogo.jpg" alt="Grammatik-laxen" />
                <p class="pg-hide">Din virtuella grammatik-assistent</p>
            </div>
        </a>
    </div>

    <div class="col-md-2 text-center">
        <a href="https://www.youtube.com/channel/UCuMBVtjvfRq5aSsz_TPKenQ" target="_blank" title="PlusGunnar på YouTube">
            <div class="pg-link3">
                <img class="pg-yt-img" src="~/Content/img/social-1834016_1920.png" alt="YouTube" />
                <p class="pg-hide">PlusGunnar på YouTube</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 text-center">
        <a href="http://effektivimera.blogspot.com/" target="_blank" title="Blogg om digitala verktyg och effektivisering i skolan">
            <div class="pg-link4">
                <p>Effektivimera</p>
                <img class="pg-eff-img" src="~/Content/img/learning-3245793_1920.jpg" alt="Effektivimera" />
                <p class="pg-hide">Tips på digitala verktyg och effektivisering</p>
            </div>
        </a>
    </div>

    <!--Radbryte-->

    <div class="col-md-2 text-center">
        <a href="https://twitter.com/PlusGunnar" target="_blank" title="PlusGunnar på Twitter">
            <div class="pg-link5">
                <img class="pg-tw-img" src="~/Content/img/social-1834013_1920.png" alt="Twitter" />
                <p class="pg-hide">PlusGunnar på Twitter</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 text-center">
        <a href="https://doktordigital.wordpress.com/" target="_blank" title="Blogg om livet som doktorand">
            <div class="pg-link6">
                <p>Doktor Digital</p>
                <img class="pg-blogg-img" src="~/Content/img/diary-968603_1920.jpg" alt="blogg pic" />
                <p class="pg-hide">Blogg om livet som doktorand</p>
            </div>
        </a>
    </div>

    <div class="col-md-3 text-center">
        <a href="@Url.Action("Index", "CV")" target="_blank" title="Mitt CV">
            <div class="pg-link7">
                <p>CV</p>
                <img class="pg-cv-img" src="~/Content/img/NCProfil20180609.jpg" alt="Curriculum vitae" />
            </div>
        </a>
    </div>

    <div class="col-md-2 text-center">
        <div class="pg-link8">
            <p>&copy; @DateTime.Now.Year - Niklas Carlsson</p>
            <img class="pg-cw-img" src="~/Content/img/typewriter-801921_1920.jpg" alt="Copyright" />
        </div>
    </div>

</div>