
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Content/img/favicon-doc.png" />
    <link rel="stylesheet" href="~/Content/cv.css" />
</head>
<body>

    <div class="row">

        <div class="col-md-12 cv-div" id="cv-head-div">
            <div class="col-md-12 text-center">
                <h2>Niklas Carlsson</h2><br />
            </div>
            <div class="row">
                <div class="col-md-6 text-right" id="CVProfilbildDiv">
                    <img src="~/Content/img/NCProfil20180609.jpg" id="CVProfilbild" alt="Profilbild"><br /><br />
                </div>
                <div class="col-md-6">
                    <p>
                        Hemsida: <a href="http://plusgunnar.st/" target="_blank">Plusgunnar.st</a><br />
                        Facebook: <a href="https://sv-se.facebook.com/niklas.plusgunnar.carlsson" target="blank">Niklas Plusgunnar Carlsson</a><br />
                        LinkedIn: <a href="https://www.linkedin.com/in/niklas-carlsson-3a367713b" target="blank">Niklas Carlsson</a><br />
                        YouTube: <a href="https://www.youtube.com/channel/UCuMBVtjvfRq5aSsz_TPKenQ" target="blank">PlusGunnar</a><br />
                        Instagram: <a href="https://www.instagram.com/plusgunnar/" target="blank">PlusGunnar</a><br />
                        Twitter: <a href="https://twitter.com/PlusGunnar" target="blank">PlusGunnar</a><br />
                        E-post: <a href="mailto:plusgunnar@gmail.com">plusgunnar@gmail.com</a>
                    </p><br />
                </div>
            </div>
            <div class="col-md-12 text-center">
                <img src="~/Content/img/AppleTeacherSwiftPlaygrounds_black.svg" id="CVAppleTeacher" alt="Apple Teacher Swift Playgrounds logo">
                <p class="invisible">break</p>
            </div>
        </div>

        <div class="col-md-12 cv-div">
            <div class="col-md-12 text-center">
                <h2>Arbete</h2><br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>2018 - : Doktorand i data- och systemvetenskap (Mittuniversitetet Östersund)</p>
                    <p>2016 - 2018: Lokal IT-samordnare (Utbildning Gävle, Gävle kommun)</p>
                    <p>2015 - 2016: Lärare och webbpublicist (Vasaskolan, Gävle kommun)</p>
                </div>
                <div class="col-md-6">
                    <p>2013 - 2015: Lärare, ALA och IT-administratör (Plusgymnasiet, Gävle & Norrköping)</p>
                    <p>2012: Lärare på Vuxenutbildning (Folkuniversitet, Norrköping)</p>
                    <p>2011 - 2012: Lärare på grundskola & gymnasium (Linköpings kommun)</p>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p class="invisible">break</p>
            </div>
        </div>

        <div class="col-md-12 cv-div">
            <div class="col-md-12 text-center">
                <h2>Fortbildning</h2><br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>2018: Om programmering (Skolverkets webbkurs)</p>
                    <p>2017: Apple Teacher & Apple Teacher Swift Playgrounds (Apple Teacher Learning Center)</p>
                    <p>2016: Webbutveckling II - Scriptspråk 7,5hp (Högskolan i Gävle)</p>
                    <p>2016: Office 365 (Eventful)</p>
                    <p>2016: Epi-server (Gävle kommun)</p>
                </div>
                <div class="col-md-6">
                    <p>2015: Webbutveckling I 7,5hp (Högskolan i Gävle)</p>
                    <p>2015: Grundkurs i IT 7,5hp (Högskolan i Gävle)</p>
                    <p>2015: WordPress (Academedia)</p>
                    <p>2014: CSN-rapportering (CSN Sundsvall)</p>
                    <p>2014: Freelib (Axiell Education)</p>
                    <p>2014: NovaSchem (Nova Software)</p>
                    <p>2014: SchoolSoft (SchoolSoft)</p>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p class="invisible">break</p>
            </div>
        </div>

        <div class="col-md-12 cv-div">
            <div class="col-md-12 text-center">
                <h2>Utbildning</h2><br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>2018 - : Doktorand i data- och systemvetenskap (Mittuniversitetet Östersund)</p>
                    <p>2016 - 2018: Informatik med inriktning systemutveckling (Mittuniversitetet)</p>
                </div>
                <div class="col-md-6">
                    <p>2006 - 2011: Lärarprogrammet med inriktning svenska och filosofi (Linköpings universitet)</p>
                    <p class="invisible">break</p>
                    <p class="invisible">break</p>
                </div>
            </div>
                <div class="col-md-12 text-center">
                    <p class="invisible">break</p>
                </div>
            </div>

            <div class="col-md-12 cv-div">
                <div class="col-md-12 text-center">
                    <h2>Övrigt</h2><br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>2018: Examensarbete Informatik - <a href="http://grammatiklaxen.azurewebsites.net/" target="_blank" title="Till Grammatik-laxen">Grammatik-laxen</a></p>
                        <p>2018: Pressmeddelande Mittuniversitetet - <a href="https://www.miun.se/mot-mittuniversitetet/press/pressmeddelanden/2018-6/digitala-laxforhor-underlattar-sprakundervisning/" target="_blank" title="Till pressmeddelande från Mittuniversitetet">Digitala läxförhör underlättar språkundervisning</a></p>
                        <p>2018: Föreläsare på <a href="https://sway.com/aZXDHAeaahsJ2qSF" target="blank" title="Till hemsidan för Teachmeet Sandviken">Teachmeet Sandviken</a></p>
                    </div>
                    <div class="col-md-6">
                        <p>2018: Föreläsare på <a href="https://www.gavle.se/pedagog/grundskola/teachmeet-2018-se-alla-filmade-presentationer/" target="blank" title="Till hemsidan för Teachmeet Gävle">Teachmeet Gävle</a></p>
                        <p>2017: Föreläsare & workshop-ledare på <a href="https://www.gavle.se/pedagog/start/gett2018/" target="blank" title="Till hemsidan för GETT">GETT</a></p>
                        <p>2017: Gästredaktör för instagram-kontot <a href="https://www.instagram.com/vigorgavle/" target="blank" title="Till ViGörGävle på instagram">ViGörGävle</a></p>
                        <p>2016: Nominerad till årets lärare på <a href="http://larargalan.se/" target="blank" title="Till lärargalans hemsida">Lärargalan</a></p>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p class="invisible">break</p>
                </div>
            </div>

            <div class="col-md-12 cv-div text-center">
                <p><i>&copy; 2018 Copyright - Niklas Carlsson</i></p>
            </div>

        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
